/*
 * Built on TRIM
 *
 * Author: mrmrs
 * License: MIT
 *
 *                */

* {
  border: 1px solid gold;}

.f64 {
  font-size: 64px;} 

.f48 {
  font-size: 48px;} 

.f32 {
  font-size: 32px;} 

.f24 {
  font-size: 24px;}

.f20 {
  font-size: 20px;} 

.f16 {
  font-size: 16px;} 

.tac {
  text-align: center;}

.phl1 { padding-left: 1rem;}

.pas { padding: 1rem; }
.pam { padding: 2rem; }
.pal { padding: 4rem; }
.pax { padding: 6rem; }
.paxl { padding: 8rem; }

.title { text-transform: uppercase; letter-spacing: .2em; }
.thin { font-weight: 100; }

.brdr-s { border-style:solid;}
.brdr-d { border-style:dotted;}

.brdrc-w { border-color:white;}

.brdrw-t { border-width:thin;}

.olc-w { outline-color:white;}

.w100 { width: 100%; }

.ff-Lucida { font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; }

@include break(medium) {
  .pas-ns { padding: 1rem; }
  .pam-ns { padding: 2rem; }
  .pal-ns { padding: 4rem; }
  .pax-ns { padding: 8rem; }
}

@include break(large) {
  .pas-l { padding: 1rem; }
  .pam-l { padding: 2rem; }
  .pal-l { padding: 4rem; }
  .pax-l { padding: 8rem; }
}

